__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
.env
data/*/raw/
data/*/processed/
data/*/
!data/data_loader.py
!data/__init__.py
stored_model/
results/
logs/
build/
*.log
.DS_Store
.ipynb_checkpoints/
